<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
</head>
<body>
    <a th:href="@{/logout}">Выйти</a>
    <h1>Admin page</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PASSWORD</th>
            <th>ACTIONS</th>
        </tr>
        <tr th:each="user : ${listUser}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td>
                <a th:href="@{/add}"></a>
                <a th:href="@{/edit/{id}(id=${user.getId()})}">edit</a>
                <a th:href="@{/delete/{id}(id=${user.getId()})}">delete</a>
            </td>
        </tr>
    </table>

    <a href="/user">user Page</a>

<!--<h2>ADD USER</h2>-->
<a th:href="@{/add}">Add new user</a>
</body>
</html>